<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div  class="vacation-details-container">
    <div class="p-5">
            <h3> {{ trip.vacation.name }} </h3>
            <h6> Trip from {{ trip.source}} to {{ trip.vacation.destination}} </h6>
            <div class="h-divider"></div>
            <div class="row mt-5">
                    <h5>MODE OF TRANSPORT:</h5>
                    <div class="mb-2"> {{trip.source}} --
                        {% if trip.mode_of_transport == 'FL' %}
                        Flight
                        {% elif trip.mode_of_transport == 'TR' %}
                        Train
                        {% elif trip.mode_of_transport == 'BU' %}
                        Bus
                        {% else %}
                        Cruise
                        {% endif %} -- {{trip.vacation.destination}}
                    </div>
                    <div class="mb-2"> You will receive the ticket details for travel once you contact our team and pay for the trip.</div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-7">
                    <h5>TRIP DESCRIPTION:</h5>
                    <p>{{ trip.trip_description }}</p>
                </div>
                 <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="h-divider mb-3"></div>
                    <h5>PACK YOUR BAGS FOR:</h5>
                        {{ trip.start_date }} - {{ trip.end_date }}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-7">
                    <h5>BENEFITS:</h5>
                    <p>{{ trip.additional_benefits}}</p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="h-divider mb-3"></div>
                    <div class="row">
                        <div class="col-sm-8">
                                <h5>PRICE*</h5>
                                <h6>${{ trip.price }}</h6>
                        </div>
                        <div class="col-sm-4">
                            <div class="vacation-days">
                                <div class="days ml-3 text-white text-center"><h4>{{diff}}</h4></div>
                                <div class="days ml-3 text-white text-center">days</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="h-divider"></div>
        <p>*Price including taxes.</p>
        <p>Please contact our team using the contact details provided on the website to know about customer loyalty discounts and offers.</p>
    </div>
</div>
</body>
</html>
