<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}About us{% endblock title %}

{% block content %}
<div class="row mb-5 mt-5 ml-auto mr-auto">
    <div class="col-sm-2 mr-2">
        <div class="about-us-heading">
            <img src="{% static 'img/fall_colors.jpg' %}" class="rounded-circle float-left" alt="Sample image" style="width:200px;height:180px">
        </div>
    </div>
    <div class="col-sm-3 mr-5 ">
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT IS BONVOYAGE?
            </div>
            <div class="about-us-text">
                Established in 2005, Bonvoyage provides travel agency services by planning pocket-friendly.
                Our customer enjoy vacations that we plan which worrying about the costs since the price we
                charge for the planned vacations are the lowest compared to other travel agency services.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHY CHOOSE BONVOYAGE?
            </div>
            <div class="about-us-text">
                We plan pocket-friendly vacations that are offered from multiple cities across Unites States.
                We also offer discounts, offers and surprise gifts to our loyal customers.
                We have an active 3,500+ customer who took 400+ vacations planned by us.
                Our team is always ready to assist you and generally reply within a two days.
                So what's holding you ??? Sign up and enjoy vacations at affordable prices.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT WE OFFER?
            </div>
            <div class="about-us-text">
                Vacation are planned and posted atleast 2 months ahead of travel time.
                Vacation are ONLY planned within United States but we have them from multiple cities across United States.
                In case you don't find a vacation from your city, please contact us and we can check the possibility and let you know.
                Our team is always ready to assist you and generally reply within a two days.
            </div>
        </div>
    </div>
    <div class="col-sm-3 mr-5 ">
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT CUSTOMER TELL ABOUT US?
            </div>
            <div class="about-us-text">
                "Bonvoyage offers the best trips. I have taken quite some trips with my family and thoroughly enjoyed them.
                I always look at their website during long weekends or holidays to check for vacations.
                Their team is super friendly and offers deals to me so I get best trips at best prices.
                The hotels and travel services they provide make us feel that we paid so little for so much." <br/>
                - Venessa Fink, Denver, CO <br/> <br/> <br/>
                "As a student, I never thought I can go on vacations since they are expensive but
                Bonvoyage's price are so affordable that I take trips atleast twice per year.
                I love the vacation to Florida because I always get a 3-star hotel to stay at and also discount on scuba diving.
                I just love them!!!!"<br/>
                - Micheal Dessy, Lincoln, NE <br/> <br/> <br/>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row mb-5">
            <div class="about-us-heading">
                OPERATION UNDER COVID-19
            </div>
            <div class="about-us-text">
                COVID-19 has had an great impact on the way business are being operated throughout the world.
                We have also adapted our ways to conduct business by launching this website since your primary concern.
                Prior to COVID, we conducted our business only through our store @ Elwood Street, West dodge road, Omaha, NE-12345.
                Our store is now open and precautions are taken as per suggestions of WHO directions.
                But since we are operating with lesser staff than usual,
                we request you to use the website to search for vacations and contact us through phone or email to book a vacation.
                You may visit the store BUT ONLY on appointment basis. Please make an appointment ATLEAST 3-days prior to your planned visit.
                We our doing our best to serve you during these difficult times. Thanks for your understanding.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>
