<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}Contact us{% endblock title %}

{% block content %}
<div class="full-screen-height">
<h3 class="text-center mb-5">Leave us a message</h3>
    <form method="post" class="custom-form w-75" action="{% url 'bonvoyage:message' %}">
            {% csrf_token %}
                <div class="row text-center">
                    <div class="col-sm-12">
                        <div class="row"><input class="w-50" type="text" placeholder="First name" name="first_name" required/></div>
                        <div class="row"><input class="w-50" type="text" placeholder="Last name" name="last_name" required/></div>
                        <div class="row"><input class="w-50" type="text" placeholder="Email" name="email" required/></div>
                        <div class="row"><input class="w-50" type="text" placeholder="Phone" name="phone" required/></div>
                        <div class="row"><textarea class="w-50" type="text" placeholder="Message" name="message" required></textarea></div>
                    </div>
                </div>
            <div class="row">
                <input type="submit" class="btn btn-default" value="SUBMIT"/>
            </div>
        </form>
</div>
{% endblock content %}
</html>
