<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="full-screen-height">
    <h3 class="text-center mb-5">Message saved successfully</h3>
    <p>We thank you for your interest and contacting us.
       Please be noted that the general response time is 2 working days.
       In case we don't get back to your query, do contact us on 402-123-4567 or email us @customerservice@bonvoyage.com
        <br/>
    </p>
        <h5>
            NOTE: Due to the current COVID situation, we are operating with lesser staff than usual. So,
                we request you to use the website to search for vacations and contact us through phone or email to book a vacation.
                You may visit the store BUT ONLY on appointment basis. Please make an appointment ATLEAST 3-days prior to your planned visit.
                We our doing our best to serve you during these difficult times. Thanks for your understanding.
        </h5>

</div>
{% endblock content %}
</html>
