.vacation-details-container{
  background-color: #EBF4F7;
  color: #23424A;
}

.h-divider{
  margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid #17a2b8;
}

.vacation-days{
    width:70px;
  background-color: #23424A;
      z-index: 9;
}